body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-radius: var(50);
}