header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    background-color: #e9ecef;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid #0d0d0d;
}
.container div:nth-child(n){
    border: 3px solid #0d0d0d;
    text-align: center;
    padding: 20px 0;
}
.firstRow{
    font-weight: bold;
}