{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/liste_salles.css') }}">
{% endblock %}

{% block body %}

    <header>
        <h1>Liste des salles</h1>
        <a href="/charge/salles">Retour</a>
    </header>

    <!-- the filter form -->
    <div>
        {{ form(form) }}
    </div>
    <div class="container">
        <div class="firstRow">Salles</div>
        <div class="firstRow">Details</div>


        {% if rooms is empty %}
            <p>Aucune salle n'est disponible.</p>
        {% else %}
            {% for room in rooms %}
                <div class="rooms-item">{{ room.roomNumber }}</div>
                <div><a href="{{ path('app_salle_info', { 'RoomNumber': room.roomNumber }) }}">Voir détails</a></div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}