<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        header{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: 3px solid #0d0d0d;
        }
        .container div:nth-child(n){
            border: 3px solid #0d0d0d;
            height: 50px;
            text-align: center;
        }
    </style>
</head>
<body>

    <header>
        <h1>Liste des salles</h1>
        <a href="/salles">Retour</a>
    </header>


    <div class="container">
        <div>Salles</div>
        <div>Details</div>

        <div>Exemple1</div>
        <div><a href="/salles/1">Voir détails</a></div>

{#        {{ for salle in salles }}#}
{#            <div>{{ salle.name }}</div>#}
{#            <a href="{{ Route }}">Voir plus</a>#}
{#        {{ endfor }}#}
    </div>

</body>
</html>