{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/liste_salles.css') }}">
{% endblock %}

{% block body %}

    <header>
        <h1>Liste des salles</h1>
        <a href="/charge/salles">Retour</a>
    </header>

    <div>
        {{ form(form) }}
    </div>
    <div class="container">
        <div class="firstRow">Salles</div>
        <div class="firstRow">Details</div>


        {% if salles is empty %}
            <p>Aucune salle n'est disponible.</p>
        {% else %}
            {% for salle in salles %}
                <div class="salles-item">{{ salle.NumSalle }}</div>
                <div><a href="{{ path('app_salle_info', { 'NumSalle': salle.NumSalle }) }}">Voir détails</a></div>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Sélectionner le champ du formulaire
            const salleSelect = document.querySelector('#serch_salle_sa_type_salle');

            // Ajouter un écouteur d'événement pour détecter les changements
            salleSelect.addEventListener('change', function() {
                // Soumettre le formulaire automatiquement lors du changement de sélection
                document.getElementById('salle-form').submit();
            });
        });
    </script>

{% endblock %}