{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/liste_salles.css') }}">
{% endblock %}

{% block body %}

    <header>
        <h1>Liste des salles</h1>
        <a href="/charge/salles"><button>Retour</button></a>
        <a href="/charge/salles/ajouter"><button>Ajouter une salle</button></a>
    </header>

    <div class="container">
        <div class="firstRow">Salles</div>
        <div class="firstRow">Détails</div>
        <div class="firstRow">Supprimer</div>

        {% if rooms is empty %}
            <p>Aucune salle n'est disponible.</p>
        {% else %}
            {% for room in rooms %}
                <div class="rooms-item">{{ room.roomNumber }}</div>
                <div><a href="{{ path('app_room_info', { 'roomNumber': room.roomNumber }) }}"><button>Voir détails</button></a></div>
                <div>
                    <form action="{{ path('app_room_delete', { 'id': room.id }) }}" method="post"
                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette salle ?');">
                        <button type="submit">Supprimer</button>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}