

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des salles</h1>
    <a href="/charge/salles/liste"><button>liste des salles</button></a>
    <a href="/charge/salles/"><button>Retour</button></a>
    {% block stylesheets %}
        <link rel="stylesheet" href="sfapp/assets/styles/roomManagement.css">
    {% endblock %}

    <h3>Ajouter une nouvelle salle</h3>
    {{ form(formAddRoom) }}
{% endblock %}