{% extends 'base.html.twig' %}

{% block title %}Détails de la salle{% endblock %}

{% block body %}

    <h1>Vous êtes dans la salle numéro {{ room.roomNumber }}, son id est {{ room.id }}</h1>

{% endblock %}
