<h1>Pages des salles</h1>

<button onclick="window.location.href='{{ path('app_room_management') }}'">Ajouter des salles</button>
<button onclick="window.location.href='{{ path('app_room_list') }}'">Liste des salles</button>