{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>connection</h1>
        <div>
            <form>
                <label for="fname">Nom d'utilisateur:</label><br>
                <input type="text" id="fname" name="fname" value="John">
                <br>
                <label for="lname">mot de passe:</label><br>
                <input type="text" id="lname" name="lname" value="Doe">
                <br>
                <br>
                <button type="submit">
            </form>
        </div>
    </div>
{% endblock %}