{% extends 'base.html.twig' %}

{% block title %}Gestion des SA{% endblock %}

{% block body %}

<div class="addDiv">
    <h1>Gestion des systèmes d'acquisition</h1>
    {{ form(form) }}
</div>
{% endblock %}
