{% extends 'base.html.twig' %}

{% block title %}Gestion des SA{% endblock %}

{% block body %}

<div class="addDiv">
    <h1>Gestion des systèmes d'acquisition</h1>

    <div class="addForm">
        <p>Nombre de SA disponibles : {{ nbSaDispo }}</p>
        <br>
        {% if form is not null %}
            {{ form(form) }}
        {% else %}
            <p>Aucun SA disponible.</p>
        {% endif %}
        <br>
    </div>

</div>
{% endblock %}
